

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-567217540602790821.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-567217540602790821.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-567217540602790821.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-567217540602790821.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-567217540602790821.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-567217540602790821.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-567217540602790821.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-567217540602790821.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-567217540602790821.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-567217540602790821.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-567217540602790821.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-567217540602790821.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-567217540602790821.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-567217540602790821.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-567217540602790821.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-567217540602790821.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-567217540602790821.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-567217540602790821.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-567217540602790821.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-567217540602790821.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-567217540602790821.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-567217540602790821.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-567217540602790821.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-567217540602790821.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-567217540602790821.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-567217540602790821.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-567217540602790821.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-567217540602790821.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-567217540602790821.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-567217540602790821.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-567217540602790821.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-567217540602790821.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-567217540602790821.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-567217540602790821.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-567217540602790821.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-567217540602790821.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-567217540602790821.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-567217540602790821.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-567217540602790821.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-567217540602790821.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-567217540602790821.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-567217540602790821.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-567217540602790821.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-567217540602790821.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-567217540602790821.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-567217540602790821.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-567217540602790821.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-567217540602790821.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-567217540602790821.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-567217540602790821.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-567217540602790821.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-567217540602790821.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-567217540602790821 .gp-relative{position:relative}.gps-567217540602790821 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-567217540602790821 .gp-mb-0{margin-bottom:0}.gps-567217540602790821 .gp-flex{display:flex}.gps-567217540602790821 .gp-grid{display:grid}.gps-567217540602790821 .gp-contents{display:contents}.gps-567217540602790821 .\!gp-hidden{display:none!important}.gps-567217540602790821 .gp-hidden{display:none}.gps-567217540602790821 .gp-h-auto{height:auto}.gps-567217540602790821 .gp-h-full{height:100%}.gps-567217540602790821 .gp-w-full{width:100%}.gps-567217540602790821 .gp-max-w-full{max-width:100%}.gps-567217540602790821 .gp-flex-none{flex:none}.gps-567217540602790821 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-567217540602790821 .gp-flex-col{flex-direction:column}.gps-567217540602790821 .gp-gap-y-0{row-gap:0}.gps-567217540602790821 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-567217540602790821 .gp-duration-200{transition-duration:.2s}.gps-567217540602790821 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-567217540602790821 .tablet\:\!gp-hidden{display:none!important}.gps-567217540602790821 .tablet\:gp-hidden{display:none}.gps-567217540602790821 .tablet\:gp-h-auto{height:auto}.gps-567217540602790821 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-567217540602790821 .mobile\:\!gp-hidden{display:none!important}.gps-567217540602790821 .mobile\:gp-hidden{display:none}.gps-567217540602790821 .mobile\:gp-h-auto{height:auto}.gps-567217540602790821 .mobile\:gp-flex-none{flex:none}}.gps-567217540602790821 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gTRSQWRdTf" data-id="gTRSQWRdTf"
        style="--blockPadding:base;--pt:0px;--pb:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgc-mobile:#f9f9f9;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll"
        class="gTRSQWRdTf gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gq2UCiBbFK gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gq9AMiHlXt"
    role="presentation"
    class="gp-group/image gq9AMiHlXt gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--d:none;--d-tablet:none;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--pos-mobile:static;--top-mobile:0px;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_567145718867821609-375a4e3e-9a02-4fab-8b92-9508aa2faae3.png" | file_url }}" srcset="{{ "gempages_567145718867821609-375a4e3e-9a02-4fab-8b92-9508aa2faae3.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="https://ucarecdn.com/ee6d5074-1640-4cc7-8933-47c8589c3dee/-/format/auto/" srcset="https://ucarecdn.com/ee6d5074-1640-4cc7-8933-47c8589c3dee/-/format/auto/" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="https://ucarecdn.com/ee6d5074-1640-4cc7-8933-47c8589c3dee/-/format/auto/"
        data-src="https://ucarecdn.com/ee6d5074-1640-4cc7-8933-47c8589c3dee/-/format/auto/"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:500px;--w-tablet:500px;--w-mobile:500px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    
  </picture>
      </div>
  </div><div
    
     data-id="gtK_RKimKD"
    role="presentation"
    class="gp-group/image gtK_RKimKD gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--d:block;--d-tablet:block;--d-mobile:none;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--pos-mobile:static;--top-mobile:0px;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_567145718867821609-8c646a52-9b40-4b11-9fdf-953105d5f6b6.png" | file_url }}" srcset="{{ "gempages_567145718867821609-8c646a52-9b40-4b11-9fdf-953105d5f6b6.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_567145718867821609-5ecf8e45-3b47-4f2f-8db4-3a3fde9796ad.svg" | file_url }}" srcset="{{ "gempages_567145718867821609-5ecf8e45-3b47-4f2f-8db4-3a3fde9796ad.svg" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_567145718867821609-5ecf8e45-3b47-4f2f-8db4-3a3fde9796ad.svg" | file_url }}"
        data-src="{{ "gempages_567145718867821609-5ecf8e45-3b47-4f2f-8db4-3a3fde9796ad.svg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:500%;--w-mobile:500%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-567217540602790821 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/yrhwnq-ix/apps/gempages-cro/app/shopify/edit?pageType=GP_ARTICLE&editorId=567145802535797801&sectionId=567217540602790821)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
